<ion-pane>
    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>  
      </div>
      <h1 class="title">BOOKINGS</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="logout()">Logout</button>
      </div>
          
    </ion-header-bar>
    <ion-content class="has-header content-background ">
      <h3>Thank you for Logging In!</h3>
      <a ng-click="calendar();"> Go to Calendar</a>       
    </ion-content>
</ion-pane>