<ion-pane>
    <ion-header-bar align-title="center" class="bar-positive">
      <div class="buttons">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>  
      </div>
      <h1 class="title">New Booking</h1>
      <div class="buttons">
        <button class="button button-clear">SAVE</button>  
      </div>      
    </ion-header-bar>
    <ion-content class="has-header content-background bookRoom">
      <div class="row bookRoomContainer">
        <div class="col">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Meeting Title</span>
                <input type="text" placeholder="Meeting Title">
              </label>
              <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Country
                </div>
                <select>
                  <option>INDIA</option>
                  <option selected>USA</option>
                </select>
              </label>
              <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Location
                </div>
                <select>
                  <option>DLF ATRIA</option>
                  <option selected>EQUIPMENTS</option>
                </select>
              </label>
              <label class="item item-input item-stacked-label">
                <div class="input-label">
                  Floor
                </div>
                <select>
                  <option>ALL</option>
                  <option selected>First</option>
                </select>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="date">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Start Time</span>
                <input type="time">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">End Time</span>
                <input type="time">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Time Zone</span>
                <input type="Text">
              </label>    
              <label class="item item-input item-stacked-label">
                <span class="input-label">Attendees</span>
                <input type="number">
              </label>        
            </div>  
        </div>  
      </div>    
    </ion-content>
</ion-pane>